.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.element{
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    position: relative;
    align-items: center;
}

.elementTitle{
    background-color: rgba(240, 248, 255, 0.377);
    border-radius: 10px;
    padding: 10px;
    padding-top: 2px;
    font-size: 3vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.imgelement{
    margin-left: 0%;
    margin-right: 0%;
    width: fit-content;
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
}