@font-face{
    font-family: 'Pixelschrift';
    src: url('/amibooWorld/GUI/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: Pixelschrift;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0%;
    overflow: hidden;
    margin: 0;
    position: relative;
}

#gesamtaction {
    float: right;
}

#buttoncontainer {
    width: 100%;
    height: 8%;
    display: flex;
}

.button {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #37b1bc;
}

.button.active {
    background-color: #fc5658;
}

.functioncontainer {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: 93%;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.functioncontainer {
    animation: slide 0.5s ease-in-out;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.active {
    display: block;
}

.tableb {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.buttonfunctioncontainer1buttons {
    width: 100%;
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 5%;
    border-radius: 15px;
    background-color: #37b1bc;
}

.buttonfunctioncontainer1buttons:hover {
    background-color: #2e7980;
}

.container {
    border-radius: 10px;
}

#map {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapInformation {
    margin: 20px;
    display: flex;
    gap: 10px;
}

#mapGrid {
    display: grid;
    background-color: #333;
    padding: 10px;
    gap: 2px;
    border-radius: 5px;
}

.tile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: default;
}

.tile-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.resources {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    gap: 2px;
}

.resources i {
    font-size: 12px;
}

.walkable {
    cursor: pointer;
}

.walkable:hover {
    z-index: 9998;
    outline: 2px solid yellow;
    transform: scale(1.1);
}

.not-walkable {
    cursor: not-allowed;
}

.not-walkable::before {
    content: '✖';
    color: red;
    font-size: 30px;
    position: absolute;
}

#crosshair {
    z-index: 9999;
    height: 100px;
    width: 100px;
    position: absolute;
    pointer-events: none;
    background-image: url(../img/crosshair.svg);
}

#character {
    z-index: 9999;
    height: 100px;
    width: 100px;
    position: absolute;
    pointer-events: none;
}


#actionlist {
    width: 30%;
    height: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
}

#joystick {
    position: fixed;
    left: 5px;
    bottom: 5px;
    background: none;
}

#instructor {
    width: 25%;
    height: fit-content;
    position: fixed;
    left: 0px;
    top: 0px;
    color: white;

    h1{
        text-align: center;
    }

    p{
        text-align: center;
    }

    button{
        min-width: fit-content;
        background-color: #37b1bc;
        border-radius: 5px;
    }
    button:hover{
        background-color: #ff4444;
    }
    #zuruckBut{
        margin-left: 15%;
        margin-right: 5%;
        margin-bottom: 2%;
        width: 30%;
    }
    #weiterBut{
        width: 30%;
    }

    #nurweiterBut{
        margin-left: 30%;
        width: 35%;
        display: none;
    }

    #amiibo{
        color: #ff4444;
        display: inline;
    }

    #world{
        color: #37b1bc;
        display: inline;
    }

}

#uberschrift{
    color: #ff4444;
}

.square-box {
    width: 20vw;
    height: 20vw;
    background-color: oppasity;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    border: 2px solid oppasity;
    border-radius: 10px;
}

.inner-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.inner-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* Bild anpassen, ohne Verzerrung */
}

.inner-box.transparent {
    background-color: transparent;
}

.inner-box.solid {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #37b1bc;
    border: none;
    color: white;
}

.inner-box.solid:hover {
    transition: 0.2s;
    background-color: #ff4444;
    color: white;
}

#svgjoy{
    width: 7vh;
    height: 7vh;
}

#top {
    transform: rotate(90deg)
}

#links {
    transform: rotate(90deg)
}

#middle {
    border-radius: 0px;
    background-color: #37b1bc;
}

#bottom {
    transform: rotate(270deg)
}

#right {
    transform: rotate(180deg)
}

@media (max-width: 1100px) {
    h1 {
        margin-top: 0%;
        font-size: x-large;
    }

    .tableb {
        margin-top: 0%;
    }
}

#warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content;
    height: 100%;
    overflow: hidden;
    background-color: #ff4444;
    color: white;
    font-size: 7vw;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
    padding: 10px;
    padding-top: 100px;
}

#content {
    display: block;
    padding: 20px;
}

#reinraus {
    position: absolute;
    margin-left: calc(69.38% - 10vh);
}

#rein{
    background-color: #37b1bc;
}
#rein:hover{
    background-color: #ff4444;
}

#reinraus img{
    width: 10vh;
    height: 10vh;
}
#raus{
    display: none;
    background-color: #37b1bc;
}
#raus:hover{
    background-color: #ff4444;
}

.progress-container {
    display: none;
    width: 20%;
    background-color: #37b1bc;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    margin-top: 3%;
    margin-left: 1%;
}
.progress-bar {
    height: 30px;
    width: 0%;
    background-color: #ff4444;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
}