#gesamtaction{
    float: right;
}
#actioncontainer{
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: blue;
}

#buttoncontainer{
    width: 100%;
    background-color: white;
}

#buttona{
    width: 30%;
    margin-left: 3%;
    border-bottom: none;
    background-color: red;
}

#buttonb{
    width: 30%;
    margin-left: 1%;
    border-bottom: none;
    background-color: blue;
}

#buttonc{
    width: 30%;
    margin-left: 1%;
    margin-right: 2%;
    border-bottom: none;
    background-color: green;
}

.