body {
    height: 100vh;
    width: 100vw;
    margin: 0%;
    overflow: hidden;
    margin: 0;
}

#gesamtaction {
    float: right;
}

#buttoncontainer {
    width: 100%;
    height: 8%;
    display: flex;
}

.button {
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.functioncontainer {
    display: none;
    overflow: hidden;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.functioncontainer {
    animation: slide 0.5s ease-in-out;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.active {
    display: block;
}

.tableb {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.buttonfunctioncontainer1buttons {
    width: 100%;
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 5%;
    border-radius: 15px;
}

.container {
    border-radius: 10px;
}

#map {
    height: 100vh;
    width: 100vw;
}

#actionlist {
    width: 400px;
    height: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
}

#joystick {
    position: fixed;
    left: 0px;
    bottom: 0px;
    background: none;
}

#instructor {
    width: 500px;
    height: 50px;
    position: fixed;
    left: 0px;
    top: 0px;
}

.square-box {
    width: 200px;
    /* Breite der Box */
    height: 200px;
    /* Höhe der Box (gleich der Breite) */
    background-color: oppasity;
    /* Farbe der Box */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    /* Kein Abstand zwischen den inneren Boxen */
    border: 2px solid oppasity;
    border-radius: 10px;
    /* Abgerundete Ecken */
}

.inner-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.inner-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* Bild anpassen, ohne Verzerrung */
}

.inner-box.transparent {
    background-color: transparent;
}

.inner-box.solid {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #929292;
    border: none;
    color: white;
}

.inner-box.solid:hover {
    transition: 0.2s;
    background-color: #b6b6b6;
    color: white;
}

#top {
    transform: rotate(90deg)
}

#links {
    transform: rotate(90deg)
}

#middle {
    border-radius: 0px;
    background-color: #929292;
}

#bottom {
    transform: rotate(270deg)
}

#right {
    transform: rotate(180deg)
}